- path = @work.new_record? ? lexicon_person_works_path(@person) : lexicon_work_path(@work)
- work_type_collection = LexPersonWork.work_types.keys.map { |k| [I18n.t("activerecord.attributes.lex_person_work.work_types.#{k}"), k] }
- publication_collection = LexPublication.joins(:entry).order('lex_entries.title')
= simple_form_for(@work, url: path, remote: true) do |f|
  = f.error_notification
  = f.input :title
  = f.input :work_type, collection: work_type_collection
  = f.input :publisher
  = f.input :publication_place
  = f.input :publication_date
  = f.input :comment
  = f.association :publication, collection: publication_collection, label_method: ->(p) { p.entry.title }, value_method: :id, include_blank: true
  = f.submit t(:save)
