%a.btn.btn-primary.add-work= t('.add_work')
- @lex_person_works.group_by(&:work_type).each do |work_type, works|
  %h4= I18n.t("activerecord.attributes.lex_person_work.work_types.#{work_type}")
  %ul
    - works.each do |w|
      %li
        = w.title
        - if w.publisher.present?
          = "(#{w.publisher}"
          - if w.publication_place.present?
            = ", #{w.publication_place}"
          - if w.publication_date.present?
            = ", #{w.publication_date}"
          = ')'
        = link_to t(:edit), nil, class: 'edit-work', data: { id: w.id }
        = link_to t(:delete),
                  lexicon_work_path(w),
                  remote: true, data: { confirm: t(:are_you_sure) }, method: :delete, class: 'delete-work'

:javascript
  $('.edit-work').click(function(e) {
    e.preventDefault();
    const workId = $(this).data('id');
    openModal(`/lex/works/${workId}/edit`);
  });
  $('a.add-work').click(function() {
    openModal('/lex/people/#{@person.id}/works/new');
  });
