%a.btn.btn-primary.add-person-work= t('.add_work')
- @lex_person_works.group_by(&:work_type).each do |work_type, works|
  - sorted_works = works.sort_by(&:seqno)
  %h4= LexPersonWork.human_enum_name(:work_type, work_type)
  %table.table.table-sm
    %thead
      %tr
        %th{ style: 'width: 30px;' }
        %th= LexPersonWork.human_attribute_name(:title)
        %th= LexPersonWork.human_attribute_name(:publisher)
        %th= LexPersonWork.human_attribute_name(:publication_place)
        %th= LexPersonWork.human_attribute_name(:publication_date)
        %th= LexPersonWork.human_attribute_name(:comment)
        %th= t(:actions)
    %tbody{ id: "works_#{work_type}", data: { work_type: work_type } }
      - sorted_works.each do |w|
        %tr{ id: "work_#{w.id}", data: { work_id: w.id } }
          %td.drag-handle{ title: t('.drag_to_reorder'), style: 'cursor: move;' }
            .handle ☰
          %td= w.title
          %td= w.publisher
          %td= w.publication_place
          %td= w.publication_date
          %td= w.comment
          %td
            = link_to t(:edit), '#', class: 'edit-person-work', data: { id: w.id }
            = link_to t(:delete),
                      lexicon_work_path(w),
                      remote: true, data: { confirm: t(:are_you_sure) }, method: :delete

:javascript
  $('.edit-person-work').click(function(e) {
    e.preventDefault();
    const workId = $(this).data('id');
    openModal(`/lex/works/${workId}/edit`);
  });
  $('a.add-person-work').click(function() {
    openModal('/lex/people/#{@person.id}/works/new');
  });

  // Initialize Sortable for each work type table
  document.querySelectorAll('[id^="works_"]').forEach(function(tbody) {
    if (tbody) {
      Sortable.create(tbody, {
        handle: '.drag-handle',
        animation: 150,
        onEnd: function(evt) {
          var workId = evt.item.getAttribute('data-work-id');
          var newIndex = evt.newIndex;
          var oldIndex = evt.oldIndex;

          if (newIndex !== oldIndex) {
            $.ajax({
              url: '/lex/works/' + workId + '/reorder',
              type: 'POST',
              headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
              data: {
                work_id: workId,
                new_pos: newIndex + 1,  // Convert to 1-based position
                old_pos: oldIndex + 1
              },
              error: function(xhr, status, error) {
                console.error('Reorder failed:', error);
                // Revert the DOM change on error
                location.reload();
              }
            });
          }
        }
      });
    }
  });
