%br
#content.container-fluid.search_results
  - if @total == -1
    %h1= t(:error)
    %p= @errmsg
  - else
    %h1= "#{t(:search_results)}: #{@search.query}"
    %h4= "#{t(:search_total)}: #{@total} #{t(:items)}"
    
    = form_tag search_results_internal_path, method: :get, class: 'form-inline mb-3' do
      = hidden_field_tag :q, @search.query
      .form-group.mr-3
        %label.mr-2= "#{t(:filter_by_type)}:"
        .form-check.form-check-inline
          = check_box_tag 'index_types[]', 'manifestations', @search.index_types.blank? || @search.index_types.include?('manifestations'), class: 'form-check-input', id: 'index_type_manifestations'
          = label_tag 'index_type_manifestations', t(:manifestations), class: 'form-check-label'
        .form-check.form-check-inline
          = check_box_tag 'index_types[]', 'authorities', @search.index_types.blank? || @search.index_types.include?('authorities'), class: 'form-check-input', id: 'index_type_authorities'
          = label_tag 'index_type_authorities', t(:authorities), class: 'form-check-label'
        .form-check.form-check-inline
          = check_box_tag 'index_types[]', 'dict', @search.index_types.blank? || @search.index_types.include?('dict'), class: 'form-check-input', id: 'index_type_dict'
          = label_tag 'index_type_dict', t(:dictionary), class: 'form-check-label'
        .form-check.form-check-inline
          = check_box_tag 'index_types[]', 'collections', @search.index_types.blank? || @search.index_types.include?('collections'), class: 'form-check-input', id: 'index_type_collections'
          = label_tag 'index_type_collections', t(:collections), class: 'form-check-label'
      = submit_tag t(:filter), class: 'btn btn-primary btn-sm'
    
    %p
    %ol{ start: @offset + 1 }
      - @results.each do |result|
        %li
          - attrs = result.attributes
          - if result.instance_of?(ManifestationsIndex)
            %b= t(:work)
            %br
            %b= link_to attrs['title'], manifestation_path(attrs['id'])
            = " / #{attrs['author_string']}"
            = " (#{textify_genre(attrs['genre'])})"
            - unless result.tags.empty?
              %br
              %div{style: 'line-height: 2.2;'}
                %b= t(:tags)+':'
                - result.tags.each do |tag|
                  %button.tag.pointer
                    = tag
            - unless result._data.nil? or result._data['highlight'].nil?
              %br
              != result._data['highlight']['fulltext'].join("<br />").gsub('<em>','<b>').gsub('</em>','</b>')
          - elsif result.instance_of?(CollectionsIndex)
            %b= textify_collection_type(result.collection_type)
            %br
            %b= link_to([result.title, result.subtitle].compact_blank.join(' / '), collection_path(result.id))
          - elsif result.instance_of?(AuthoritiesIndex)
            %b= t(:author)
            %br
            %b= link_to attrs['name'], authority_path(attrs['id'])
            - unless result.tags.empty?
              %br
              %b= t(:tags)+':'
              - result.tags.each do |tag|
                %button.tag
                  = tag
            %br
            %p= attrs['wikipedia_snippet']
          - elsif result.instance_of?(DictIndex)
            %b= t(:dictionary_definition)
            %br
            %b= link_to attrs['defhead'], dict_entry_path(id: attrs['manifestation_id'], entry: attrs['id'])
            %br
            - unless result._data.nil? or result._data['highlight'].nil?
              %br
              != result._data['highlight']['deftext'].join("<br />").gsub('<em>','<b>').gsub('</em>','</b>')

    != paginate @results
= form_tag tag_by_name_path, method: :post, id: 'tag_by_name' do
  = hidden_field_tag :name, nil, id: 'tag_by_name_field'

:javascript
  $(document).ready(function() {
    $('.tag').click(function() {
      $('#tag_by_name_field').val($(this).text().trim());
      $('#tag_by_name').submit();
    });
  });
