.container-fluid#header-lexicon-entry
  .breadcrumbs-and-actions
    #breadcrumbs
      .breadcrumbs-text= link_to t(:homepage), root_path
      .breadcrumbs-arrow= 1
      .breadcrumbs-text= link_to t('lexicon.entries.list.entries_list_breadcrumb'), lexicon_entries_list_path
      .breadcrumbs-arrow= 1
      .breadcrumbs-text
        %b= @lex_entry.title
    .entry-top-actions
      = link_to t(:back_to_list), lexicon_entries_list_path, class: 'btn-small-outline-v02 btn-text-v02'
      - if current_user&.editor? && current_user.has_bit?('edit_lexicon')
        = link_to t(:edit), edit_lexicon_entry_path(@lex_entry), class: 'btn-small-outline-v02 btn-text-v02'
  - unless @lex_entry.status_published?
    .alert.alert-warning
      = t('lexicon.entries.show.unpublished_warning', status: LexEntry.human_enum_name(:status, @lex_entry.status))
      = link_to t('lexicon.verification.queue.actions.start_or_continue'),
                lexicon_verification_path(@lex_entry),
                class: 'btn btn-sm btn-outline-primary ms-2'
  .row.error-found-row
    .col.side-menu-area
    .col{ style: 'z-index:-1;height:0;' }
    .col-4.error-found-col
      %button.error-found-btn#found_mistake{ title: t(:report_error_tt) }
        .error-found
          .error-found-text
            = t(:found_br_mistake_html)
          .error-found-icon g
    .col-lg-4{ style: 'height:min-content' }
