.by-card-v02
  .by-card-header-v02
    .headline-2-v02
      = t('lexicon.entries.list.entries_count', count: @total)
      - permalink_params = { sort_by: @sort, name_filter: @name_filter, ckb_genders: @genders,
                             birth_year_from: @birth_year_from, birth_year_to: @birth_year_to,
                             death_year_from: @death_year_from, death_year_to: @death_year_to }.compact
      - permalink_url = url_for(permalink_params.merge(only_path: false))
      %a.permalink-btn{ href: '#', title: t(:permalink), data: { url: permalink_url } }
        = t(:permalink)

  .by-card-content-v02
    - if @filters.any?
      .filters
        - @filters.each do |label, field_id, field_type|
          %button.tag
            = label
            %span.pointer.tag-x{ 'data-ele': field_id, 'data-which' => field_type }= '-'

    .select-all-with-buttons
      .headline-4-v02= t(:sort_by)
      #sort-by
        #custom-select{ title: t(:worklist_sort_tt) }
          %select#sort_by_select
            %optgroup{ label: t(:alefbet) }
              %option{ value: 'alphabetical_asc', selected: @sort == 'alphabetical_asc' }= t(:alefbet_asc)
              %option{ value: 'alphabetical_desc', selected: @sort == 'alphabetical_desc' }= t(:alefbet_desc)
            %optgroup{ label: t(:dates) }
              %option{ value: 'birth_year_asc', selected: @sort == 'birth_year_asc' }= t(:birthdate_asc)
              %option{ value: 'birth_year_desc', selected: @sort == 'birth_year_desc' }= t(:birthdate_desc)
              %option{ value: 'death_year_asc', selected: @sort == 'death_year_asc' }= t(:deathdate_asc)
              %option{ value: 'death_year_desc', selected: @sort == 'death_year_desc' }= t(:deathdate_desc)

    .mainlist#browse_mainlist
      %ol
        - @lex_entries.each do |entry|
          %li
            = link_to entry.title, lexicon_entry_path(entry)
            - if entry.lex_item.is_a?(LexPerson) && entry.lex_item.life_years.present?
              .authors-list-years!= " (#{entry.lex_item.life_years})"
    != paginate @lex_entries

:javascript
  $(document).ready(function() {
    // Handle sort dropdown change
    $('#sort_by_select').change(function() {
      $('#authors_filters input[name="sort_by"]').val($(this).val());
      startModal('spinnerdiv');
      $('#authors_filters').submit();
    });

    // Handle filter pill removal
    $('.tag-x').click(function() {
      const field = $(this).data('ele');
      const fieldType = $(this).attr('data-which');

      if (fieldType === 'text') {
        $('#authors_filters #' + field).val('');
      } else if (fieldType === 'checkbox') {
        const genderValue = field.replace('ckb_genders_', '');
        $('#authors_filters input[name="ckb_genders[]"][value="' + genderValue + '"]').prop('checked', false);
      }

      startModal('spinnerdiv');
      $('#authors_filters').submit();
    });

    // Handle permalink copy
    $('.permalink-btn').click(function(e) {
      e.preventDefault();
      const url = $(this).data('url');
      const originalText = $(this).text();
      const $btn = $(this);

      navigator.clipboard.writeText(url).then(function() {
        $btn.text('#{I18n.t(:permalink_copied)}');
        setTimeout(function() {
          $btn.text(originalText);
        }, 2000);
      });
    });
  });
