.row
  .col-12.col-lg-8
    .row.error-found-row
      .col.side-menu-area
        = render partial: 'navbar'
      .col{ style: 'z-index:-1;height:0;' }
      .col-4.error-found-col
        %button.error-found-btn#found_mistake{ title: t(:report_error_tt) }
          .error-found
            .error-found-text
              = t(:found_br_mistake_html)
            .error-found-icon g
      .col-lg-4{ style: 'height:min-content' }
    .row
      .col
        #lexicon-description
          = render layout: 'lexicon/block', locals: { title: LexPublication.human_attribute_name(:description) } do
            != MarkdownToHtml.call(lex_publication.description)
        #lexicon-toc
          = render layout: 'lexicon/block', locals: { title: LexPublication.human_attribute_name(:toc) } do
            != MarkdownToHtml.call(lex_publication.toc)
        #lexicon-links
          = render partial: 'links', locals: { links: lex_publication.links }
  .col-12.col-lg-4
    = render partial: 'lexicon/shared/images', locals: { entry: lex_publication.entry }
