%link{ rel: 'stylesheet',
       href: 'https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/' \
             '5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css' }
-# Public list of published lexicon entries
%main
  .top-element
  .container-fluid#content
    .row.authors-list-content.peach2-lexicon
      .col-12.col-lg-4.order-2.order-lg-1
        .by-card-v02#lex-filter-card
          .work-area
            .work-content
              .headline-1-v02= t('lexicon.entries.list.welcome_title')
              %p= t('lexicon.entries.list.description')
              - form_id = 'authors_filters'
              = form_tag(lexicon_entries_list_path,
                         remote: true,
                         method: :post,
                         id: form_id,
                         autocomplete: :off) do
                = hidden_field_tag(:sort_by, @sort)
                .by-card-content-v02#filters_panel
                  = render partial: 'list_filters'

            .work-side-color
              .lexicon-logo
              .work-genre.author-side-default-picture

      .col-12.col-lg-8.order-1.order-lg-2#list_results
        = render partial: 'list_results'

:javascript
  $(document).ready(function() {
    var showLabel = '#{I18n.t('lexicon.entries.list.filters.show_filters')}';
    var hideLabel = '#{I18n.t('lexicon.entries.list.filters.hide_filters')}';
    // Use event delegation so the handler survives AJAX list re-renders
    $(document).on('click', '#lex-mobile-filter-toggle', function() {
      $('#lex-filter-card').slideToggle(200);
      var isOpen = $('#lex-filter-card').is(':visible');
      $(this).text(isOpen ? hideLabel : showLabel);
    });
  });
