= render partial: 'shared/breadcrumbs'
.peach2-lexicon
  - lex_item = @lex_entry.lex_item
  - unless @lex_entry.status_published?
    .alert.alert-warning
      = t('lexicon.entries.show.unpublished_warning', status: LexEntry.human_enum_name(:status, @lex_entry.status))
  - if lex_item.is_a?(LexPerson)
    = render partial: 'show_person', locals: { lex_person: lex_item }
  - elsif lex_item.is_a?(LexPublication)
    = render partial: 'show_publication', locals: { lex_publication: lex_item }

= link_to t(:edit), edit_lexicon_entry_path(@lex_entry)
\|
= link_to t(:back), lexicon_entries_path
