%h1= t('.title')

%table
  %thead
    %tr
      %th= LexIssue.human_attribute_name(:subtitle)
      %th= LexIssue.human_attribute_name(:volume)
      %th= LexIssue.human_attribute_name(:issue)
      %th= LexIssue.human_attribute_name(:seq_num)
      %th= LexIssue.human_attribute_name(:toc)
      %th= LexIssue.human_attribute_name(:lex_publication)
      %th
      %th
      %th

  %tbody
    - @lex_issues.each do |lex_issue|
      %tr
        %td= lex_issue.subtitle
        %td= lex_issue.volume
        %td= lex_issue.issue
        %td= lex_issue.seq_num
        %td= lex_issue.toc
        %td= lex_issue.lex_publication
        %td= link_to t(:show), lex_issue
        %td= link_to t(:edit), edit_lex_issue_path(lex_issue)
        %td= link_to t(:destroy), lex_issue, method: :delete, data: { confirm: t(:are_you_sure) }

%br

= link_to t('.new'), new_lex_issue_path
