/ from http://designwithpc.com/Plugins/ddSlick
= javascript_include_tag 'jquery.ddslick.min'

= form_for sp, url: {action: action, id: sp.id} do |f|
  .backend-field
    = f.label t(:name)
    = f.text_field :tag
    = f.label t(:ltr)
    = f.check_box :ltr
  .backend-field
    = f.label t(:title)
    = f.text_field :title
  .backend-field
    - if sp.images.attached?
      %button.btn-small-outline-v02#add_image
        %b.static-btn= t(:add_image)+' '+t(:in_current_cursor)
      = select_tag :sel_images, raw(options_from_images(sp))
      %br
  
  .backend-field
    = f.label t(:body)
    = f.text_area :body, rows: 10, cols: 120
  .backend-field
    %b= f.label t(:status)+': '
    = f.label t(:unpublished)
    = f.radio_button(:status, :unpublished)
    = f.label t(:published)
    = f.radio_button(:status, :published)
  .backend-field
    %b= f.label t(:mode)+': '
    = f.label t(:plain_markdown)
    = f.radio_button(:mode, :plain_markdown)
    = f.label t(:cards)
    = f.radio_button(:mode, :cards)
    = f.label t(:cards_with_shortcuts)
    = f.radio_button(:mode, :cards_with_shortcuts)
  .backend-field
    = f.file_field :images, multiple: true, direct_upload: true
  .actions
    = f.submit t(:save)
:javascript
  $(function() {
    $('#sel_images').ddslick({
      width: 550
    });

    $('#add_image').click(function(e) {
      e.preventDefault();
      insertImageFromDDSlick('#static_page_body', '#sel_images')
    });
  });
