.tagging-management-area.tags-content
  #edit-tag.by-card-v02
    .by-card-header-v02
      .headline-1-v02{style: @tag.escalated? ? 'background-color: #f7a7a7' : ''}
        = "#{t(:edit_tag)}: #{@tag.name}"
    .by-card-content-v02
      = form_with url: update_tag_path(@tag), method: :post, local: true do |f|
        .form-group
          %label.headline-3-v02{for: 'tag_name_field'}= t(:tag_name)
          = f.text_field :tag_name, value: @tag.name, id: 'tag_name_field', class: 'form-control', style: 'width: 300px; margin-bottom: 15px;'

        .form-group
          %label.headline-3-v02{for: 'status_field'}= t(:status)
          = f.select :status, options_for_select(Tag.statuses.keys.map { |k| [t("tag_status_#{k}"), k] }, @tag.status), {}, id: 'status_field', class: 'form-control', style: 'width: 200px; margin-bottom: 15px;'

        = f.submit t(:save_changes), class: 'by-button-v02', style: 'margin-top: 20px;'

      .headline-3-v02{style: 'margin-top: 30px;'}= t(:tag_names_aliases)
      %ul
        - @tag_names.each do |tag_name|
          %li{style: 'margin-bottom: 10px;'}
            = tag_name.name
            - if @tag_names.count > 1
              = button_to t(:remove), remove_tag_name_path(tag_name), method: :delete, class: 'by-button-secondary-v02 pad10rl', style: 'margin-right: 10px; font-size: 75%; display: inline;', data: { confirm: t(:confirm_remove_tag_name) }

      .headline-3-v02{style: 'margin-top: 20px;'}= t(:add_tag_name_alias)
      = form_with url: add_tag_name_path(@tag), method: :post, local: true, style: 'margin-bottom: 20px;' do |f|
        = f.text_field :tag_name, placeholder: t(:new_tag_name_placeholder), id: 'new_tag_name_field', class: 'form-control', style: 'width: 300px; display: inline-block; margin-left: 10px;'
        = f.submit t(:add), class: 'by-button-secondary-v02 pad10rl', style: 'margin-right: 10px;'

      %hr{style: 'margin: 20px 0;'}

      .tag-actions-buttons-group{style: 'display: flex; gap: 10px; margin-top: 20px;'}
        .by-button-secondary-v02.pointer.pad10rl.merge-btn{'data-tag-id': @tag.id}
          .by2-icon{style: 'display: inline; margin-left: 7px;'}> Q
          = t(:merge_tag)

        = link_to t(:back_to_moderation), tag_moderation_path, class: 'by-button-secondary-v02 pad10rl'

:javascript
  $(document).ready(function() {
    $('.merge-btn').click(function() {
      var tagId = $(this).data('tag-id');
      $.ajax({
        url: '/admin/merge_tag/' + tagId,
        type: 'GET',
        success: function(data) {
          var modalHtml = '<div class="modal fade" id="mergeTagModal" tabindex="-1" role="dialog">' +
            '<div class="modal-dialog" style="max-width: 600px;" role="document">' +
            '<div class="modal-content">' +
            '<div class="modal-header">' +
            '<h5 class="modal-title">#{t(:merge_tag)}</h5>' +
            '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
            '<span aria-hidden="true">&times;</span>' +
            '</button>' +
            '</div>' +
            '<div class="modal-body">' + data + '</div>' +
            '</div>' +
            '</div>' +
            '</div>';

          var $modal = $(modalHtml);
          $('body').append($modal);
          $modal.modal('show');
          $modal.on('hidden.bs.modal', function() {
            $modal.remove();
          });
        }
      });
    });
  });
