-# app/views/admin/manifestation_batch_tools.html.haml
%h2= t('.title')

= form_with url: manifestation_batch_tools_admin_index_path, method: :get, local: true do |f|
  .form-group
    = f.label :ids, t('.enter_manifestation_ids')
    = f.text_area :ids, rows: 2, class: 'form-control'
  = f.submit t('.fetch'), class: 'btn btn-primary'

- if defined?(@manifestations) && @manifestations.present?
  #batch-actions-container{style: 'margin-bottom: 15px; display: none;'}
    %button#batch-destroy.btn.btn-danger{type: 'button'}
      = t(:delete_selected)
    %button#batch-unpublish.btn.btn-warning{type: 'button'}
      = t(:unpublish_selected)
  %table#manifestations-table.table.table-bordered
    %thead
      %tr
        %th
          %input#select-all{type: 'checkbox'}
        %th= t(:id)
        %th= t(:title)
        %th= t(:authors)
        %th= t(:actions)
    %tbody
      - @manifestations.each do |m|
        %tr{id: "manifestation-row-#{m.id}", data: { manifestation_id: m.id }}
          %td
            %input.manifestation-checkbox{type: 'checkbox', data: { manifestation_id: m.id }}
          %td= m.id
          %td= link_to m.title, manifestation_path(m)
          %td= m.author_string
          %td
            %button.btn.btn-danger.btn-sm.delete-manifestation{type: 'button', data: { manifestation_id: m.id }}
              = t(:delete)
            %button.btn.btn-warning.btn-sm.unpublish-manifestation{type: 'button', data: { manifestation_id: m.id }}
              = t(:unpublish)
