-# app/views/admin/manifestation_batch_tools.html.haml
%h2= t('.title')

= form_with url: manifestation_batch_tools_admin_index_path, method: :get, local: true do |f|
  .form-group
    = f.label :ids, t('.enter_manifestation_ids')
    = f.text_area :ids, rows: 2, class: 'form-control'
  = f.submit t('.fetch'), class: 'btn btn-primary'

- if defined?(@manifestations) && @manifestations.present?
  - confirm_delete_msg = t(:confirm_batch_delete, count: '%<count>s')
  - confirm_unpublish_msg = t(:confirm_batch_unpublish, count: '%<count>s')
  - please_select_msg = t(:please_select_manifestation)
  -# rubocop:disable Layout/HashAlignment
  - batch_data = { confirm_batch_delete: confirm_delete_msg,
                    confirm_batch_unpublish: confirm_unpublish_msg,
                    please_select: please_select_msg }
  -# rubocop:enable Layout/HashAlignment
  #batch-actions-container{ style: 'margin-bottom: 15px; display: none;', data: batch_data }
    %button.btn.btn-danger#batch-destroy{ type: 'button' }
      = t(:delete_selected)
    %button.btn.btn-warning#batch-unpublish{ type: 'button' }
      = t(:unpublish_selected)
  %table.table.table-bordered#manifestations-table
    %thead
      %tr
        %th
          %input#select-all{ type: 'checkbox' }
        %th= t(:id)
        %th= t(:title)
        %th= t(:authors)
        %th= t(:actions)
    %tbody
      - @manifestations.each do |m|
        %tr{ id: "manifestation-row-#{m.id}", data: { manifestation_id: m.id } }
          %td
            %input.manifestation-checkbox{ type: 'checkbox', data: { manifestation_id: m.id } }
          %td= m.id
          %td= link_to m.title, manifestation_path(m)
          %td= m.author_string
          %td
            - delete_data = { manifestation_id: m.id, confirm: t(:confirm_delete_manifestation) }
            %button.btn.btn-danger.btn-sm.delete-manifestation{ type: 'button', data: delete_data }
              = t(:delete)
            %button.btn.btn-warning.btn-sm.unpublish-manifestation{ type: 'button', data: { manifestation_id: m.id } }
              = t(:unpublish)
