.backend
  %h2= t(:static_pages)

  %a{ href: static_page_new_path, style: 'color:white'}
    .btn{style: 'float:none'}
      %b= t(:new_static_page)
  %p
  %br
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:name)
      %th= t(:title)
      %th= t(:status)
      %th= t(:mode)
      %th

    - @vps.each do |v|
      %tr
        %td= link_to v.tag, static_page_show_path(v)
        %td= v.title
        %td= t(v.status)
        %td= t(v.mode)
        %td= link_to t(:edit), static_page_edit_path(v)
  != paginate @vps
