.backend
  %h2= t(:volunteer_profiles)

  %a{ href: volunteer_profile_new_path, style: 'color:white'}
    .btn{style: 'float:none'}
      %b= t(:new_volunteer_profile)
  %p
  %br
  %table{style: 'cell-spacing: 10;'}
    %tr
      %th= t(:name)
      %th= t(:feature_on)
      %th= t(:volunteer_bio)
      %th= t(:volunteer_statement)
      %th

    - @vps.each do |v|
      %tr
        %td= link_to v.name, volunteer_profile_show_path(v)
        %td!= v.featured_list
        %td= v.bio
        %td= v.about
        %td= link_to t(:edit), volunteer_profile_edit_path(v)
  != paginate @vps
