- path = @citation.new_record? ? lexicon_person_citations_path(@person) : lexicon_citation_path(@citation)
= simple_form_for(@citation, url: path, remote: true) do |f|
  = f.error_notification
  = f.input :subject
  = f.association :person_work,
                  collection: @person.works.sort_by(&:title),
                  label_method: :title,
                  selected: @citation.person_work&.id,
                  include_blank: true
  = f.input :title
  = f.input :from_publication
  = f.input :pages
  = f.input :link
  = f.submit t(:save)
%hr

%h4= LexCitation.human_attribute_name(:authors)
#authors-list.border.rounded.p-2
  - if @citation.new_record?
    %span.text-secondary= t('.save_before_adding_authors')

- unless @citation.new_record?
  :javascript
    function reloadAuthors() {
      $('#authors-list').load(`/lex/citations/#{@citation.id}/authors`);
    }
    reloadAuthors();