%p#notice= notice

%p
  %b #{LexCitation.human_attribute_name(:title)}:
  = @lex_citation.title
%p
  %b #{LexCitation.human_attribute_name(:from_publication)}:
  = @lex_citation.from_publication
%p
  %b #{LexCitation.human_attribute_name(:authors)}:
  = @lex_citation.authors
%p
  %b #{LexCitation.human_attribute_name(:pages)}:
  = @lex_citation.pages
%p
  %b #{LexCitation.human_attribute_name(:link)}:
  = @lex_citation.link
%p
  %b #{LexCitation.human_attribute_name(:backup_url)}:
  = @lex_citation.backup_url
- if @lex_citation.backup_file.attached?
  %p
    %b #{LexCitation.human_attribute_name(:backup_file)}:
    = link_to @lex_citation.backup_file.filename,
              rails_blob_path(@lex_citation.backup_file, disposition: :inline),
              target: '_blank', rel: 'noopener'
%p
  %b #{LexCitation.human_attribute_name(:item)}:
  = @lex_citation.item
%p
  %b #{LexCitation.human_attribute_name(:manifestation)}:
  = @lex_citation.manifestation

= link_to t(:edit), edit_lex_citation_path(@lex_citation)
\|
= link_to t(:back), lex_citations_path
