%div{align: 'right', dir: 'rtl'}
  %p= "#{@tag.creator&.name || t('admin.tags.unknown_creator')}, #{@greeting}"

  %p= t(:tag_rejected_intro, tag: @name)

  - if @explanation.present?
    %p!= t(:additional_tagging_explanation, explanation: @explanation)

  %hr

  != email_footer_html(@tag.creator&.email)
