%div{align: 'right', dir: 'rtl'}
  %p= "#{@tagging.suggester.name}, #{@greeting}"
  %p= t(:tagging_rejected_email_html, tag: @tagging.tag.name, taggable: @tagging.taggable.title, url: polymorphic_url(@tagging.taggable))

  %hr

  != email_footer_html(@tagging.suggester.email)
