/ print mode for dictionary list
.print
  #content.container-fluid
    .row.text-page-content
      .col-12.col-lg-8
        .logo-for-print
          %img.logoBY-v02{:alt => t(:logo), :src => "/assets/logo-byp-mobile.svg", style: 'width:240px'}/
        .row
          .col{style:'display:none'}
          .col
            .by-card-v02
              .by-card-content-v02
                .work-title.name-under-btn
                  .headline-1-v02= @m.title
                  .headline-2-v02
                    - unless @m.authors.nil?
                      != @m.authors.map { |t| t.name }.join(', ')
                    - else
                      = '?'
                .BYD-rights
                  = render partial: 'shared/intellectual_property',
                           locals: { intellectual_property: @e.intellectual_property }
            .by-card-v02
              .by-card-header-v02
                .headline-2-v02
                  = @headwords.count
                  = 'ערכים'
              .by-card-content-v02
                .mainlist
                  %ol
                    - skipped = 0
                    - @headwords.each do |hw|
                      - if hw.defhead.nil?
                        - skipped += 1
                      - else
                        - if skipped > 0
                          %p= t(:skipped_x_entries, x: skipped)
                          - skipped = 0
                        %li
                          = hw.defhead

:javascript
  $(document).ready(function() {
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        window.location.href = '#{url_for(action: :dict, id: @m.id)}';
      }
    });
    window.print();
  });
