/ print mode for individual dictionary entry
.print
  #content.container-fluid
    .row.text-page-content
      .col-12.col-lg-8
        .logo-for-print
          %img.logoBY-v02{:alt => t(:logo), :src => "/assets/logo-byp-mobile.svg", style: 'width:240px'}/
        .row
          .col{style:'display:none'}
          .col
            .by-card-v02
              .by-card-content-v02
                .work-title.name-under-btn
                  .headline-1-v02= @m.title
                  .headline-2-v02
                    - unless @m.authors.nil?
                      != @m.authors.map { |t| t.name }.join(', ')
                    - else
                      = '?'
                .BYD-rights
                  = render partial: 'shared/intellectual_property',
                           locals: { intellectual_property: @e.intellectual_property }
            .by-card-v02
              .by-card-content-v02
                .entryHeadline
                  %strong= @entry.defhead
            .by-card-v02
              .work-area
                .work-content
                  .BYD-entry-text
                    != @entry.deftext
                .work-side-color
                  .work-genre.dictionaries-side-icon

:javascript
  $(document).ready(function() {
    sefaria.link({whitelistSelector: '.deftext', contentLang: 'hebrew', interfaceLang: 'hebrew'});
    $(document).on('keyup',function(evt) {
      if (evt.keyCode == 27) {
        window.location.href = '#{url_for(action: :dict_entry, id: @m.id, entry: @entry.id)}';
      }
    });
    window.print();
  });
