.by-card-v02.left-side-card-v02#external_links_panel
  .by-card-header-left-v02
    %span.headline-1-v02= t(:external_links)
    = t(:will_open_in_new_tab)
  .by-card-content-v02
    - approved_links = linkable.external_links.where(status: :approved)
    - if approved_links.any?
      - ExternalLink.sidebar_link_types.each do |lt|
        - links = approved_links.where(linktype: lt)
        - if links.any?
          .metadata-link.headline-2-v02
            %span.metadata-link-icon> +
            = t(lt)
          %div
            %ul.ul-inside
              - links.first(5).each do |l|
                %li
                  = link_to l.description, l.url, target: :_blank
          - if links.count > 5
            .bottom-link-space
              .internal-link-to-all.all_links_btn.pointer.linkcolor
                %span{:style => "font-weight: bold"}= t(:to_all_x_items, x: links.count)
                %span.left-arrow 1
    - else
      %p= t(:no_approved_links_yet)

    - if current_user
      - pending_links = linkable.external_links.where(status: :submitted).where(proposer_id: current_user.id)
      - pending_links = linkable.external_links.where(status: :submitted) if current_user.admin?
      - if pending_links.any?
        %div
          .metadata-link.headline-2-v02
            %span.by-icon-v02.pending-tag{title: t(:awaiting_approval)} L
            = t(:pending_links)
          %ul.ul-inside.pending
            - pending_links.each do |link|
              %li.tags.pending{ 'data-link-id': link.id }
                - if link.proposer_id == current_user.id
                  .by-icon-v02.pending-tag{title: t(:awaiting_approval)} L
                  = link.description
                  = ' (' + t(link.linktype) + ')'
                  = link_to '×', external_link_path(link), class: 'link-x', title: t(:cancel), data: { remote: true, method: :delete }

    - unless current_user
      .metadata-link.must_login
        %a{href: "#"}
          %span.metadata-link-icon.small-icon= '&'
          = t(:suggest_new_links)
    - else
      .metadata-link{'data-toggle' => 'modal', 'data-target' => '#proposeLinkDlg', 'data-linkable-type' => linkable.class.name, 'data-linkable-id' => linkable.id}
        %a{href: "#"}
          %span.metadata-link-icon.small-icon= '&'
          = t(:suggest_new_links)
