.backend
  %h1= @project.name
  %p
    %b= Project.human_attribute_name(:description) + ':'
    %br
    = @project.description
  %p
    %b= Project.human_attribute_name(:start_date) + ':'
    = @project.start_date&.strftime('%d-%m-%Y')
  %p
    %b= Project.human_attribute_name(:end_date) + ':'
    = @project.end_date&.strftime('%d-%m-%Y') || t('projects.no_end_date')
  %p
    %b= t(:status) + ':'
    - if @project.end_date.nil? || @project.end_date >= Date.current
      %span.badge.badge-success= t('projects.active')
    - else
      %span.badge.badge-secondary= t('projects.inactive')

  - contact_info_present = @project.contact_person_name.present? || @project.contact_person_phone.present? || @project.contact_person_email.present?
  - if contact_info_present
    %hr
    %h3= t('projects.contact_information')
    - if @project.contact_person_name.present?
      %p
        %b= Project.human_attribute_name(:contact_person_name) + ':'
        = @project.contact_person_name
    - if @project.contact_person_phone.present?
      %p
        %b= Project.human_attribute_name(:contact_person_phone) + ':'
        = @project.contact_person_phone
    - if @project.contact_person_email.present?
      %p
        %b= Project.human_attribute_name(:contact_person_email) + ':'
        = @project.contact_person_email

  - if @project.default_external_link.present?
    %hr
    %h3= t('projects.default_link_info')
    %p
      %b= Project.human_attribute_name(:default_external_link) + ':'
      = link_to @project.default_external_link, @project.default_external_link,
        target: '_blank', rel: 'noopener'
    - if @project.default_link_description.present?
      %p
        %b= Project.human_attribute_name(:default_link_description) + ':'
        = @project.default_link_description

  - if @project.comments.present?
    %hr
    %p
      %b= Project.human_attribute_name(:comments) + ':'
      %br
      = @project.comments
  
  %p
  = link_to t(:edit), edit_admin_project_path(@project), class: 'btn btn-primary'
  = link_to t(:back), admin_projects_path
