.top-element
  %div{ style: 'margin-top:10px' }
    %h1= t('.title') + ': ' + t('.subtitle')

    = form_tag lexicon_files_path, method: :get, id: :filter, class: 'form-inline mb-2' do
      = label_tag :entrytype, LexFile.human_attribute_name(:entrytype), class: 'mr-2'
      = select_tag :entrytype,
                   options_for_select(LexFile.entrytypes.map { |k, _v| [LexFile.human_enum_name(:entrytype, k), k] },
                                      @entrytype),
                   include_blank: true,
                   class: 'form-control mr-2'
      = label_tag :title, LexFile.human_attribute_name(:title), class: 'mr-2'
      = text_field_tag :title, @title, placeholder: t('.title_placeholder'), class: 'form-control mr-2'
      = label_tag :fname, LexFile.human_attribute_name(:fname), class: 'mr-2'
      = text_field_tag :fname, @fname, placeholder: t('.fname_placeholder'), class: 'form-control mr-2'

    %table.table
      %tr
        %th= LexFile.human_attribute_name(:error_message)
        %th= LexFile.human_attribute_name(:fname)
        %th= t(:title)
        %th= "#{t(:status)} (#{t(:file)} / #{t(:entry)})"
        %th= t(:entrytype)
        %th= t(:actions)
      - @lex_files.each do |lf|
        = render partial: 'file_row', locals: { lf: lf }
  = paginate @lex_files
:javascript
  $(function() {
    const submitFilters = (e) => { $('#filter').submit(); };
    $('#filter #entrytype').change(submitFilters);
    $('#filter #fname').change(submitFilters);
    $('#filter #title').change(submitFilters);
  });
