.top-element
  %div{ style: 'margin-top:10px' }
    %h1= t('.title') + ': ' + t('.subtitle')

    = form_tag lexicon_files_path, method: :get, id: :filter, class: 'form-inline' do
      = label_tag :entrytype, LexFile.human_attribute_name(:entrytype), class: 'mr-2'
      = select_tag :entrytype,
                   options_for_select(LexFile.entrytypes.map { |k, _v| [LexFile.human_enum_name(:entrytype, k), k] },
                                      @entrytype),
                   include_blank: true,
                   class: 'form-control mr-2'
      = label_tag :title, LexFile.human_attribute_name(:title), class: 'mr-2'
      = text_field_tag :title, @title, placeholder: t('.title_placeholder'), class: 'form-control mr-2'
      = label_tag :fname, LexFile.human_attribute_name(:fname), class: 'mr-2'
      = text_field_tag :fname, @fname, placeholder: t('.fname_placeholder'), class: 'form-control mr-2'
      - %w(raw migrating error draft verifying verified escalated published deprecated).each do |status|
        .form-check.form-check-inline
          = check_box_tag 'entry_statuses[]', status, @entry_statuses.include?(status),
                          id: "entry_status_#{status}", class: 'form-check-input'
          = label_tag "entry_status_#{status}", LexEntry.human_enum_name(:status, status),
                      class: 'form-check-label'

    - if @my_locked_files.any?
      %h3= t('.my_locked_title')
      = render partial: 'files_table', locals: { files: @my_locked_files, show_locked_by: true, unlockable: true }

    - if @locked_by_others_files.any?
      %h3= t('.locked_by_others_title')
      = render partial: 'files_table',
               locals: { files: @locked_by_others_files, show_locked_by: true, unlockable: false }

    %h3= t('.other_title')
    = render partial: 'files_table',
             locals: { files: @lex_files, show_locked_by: false, unlockable: false, sortable: true }
  = paginate @lex_files
:javascript
  $(function() {
    const submitFilters = (e) => { $('#filter').submit(); };
    $('#filter #entrytype').change(submitFilters);
    $('#filter #fname').change(submitFilters);
    $('#filter #title').change(submitFilters);
    $('#filter input[name="entry_statuses[]"]').change(submitFilters);
  });
