.top-element
  %div{ style: 'margin-top:10px' }
    %h1= t(:lexicon_migration) + ': ' + t('.title')

    = form_tag lexicon_files_path, method: :get, id: :filter do
      = label_tag :entrytype, LexFile.human_attribute_name(:entrytype)
      = select_tag :entrytype,
                   options_for_select(LexFile.entrytypes.map { |k, _v| [LexFile.human_enum_name(:entrytype, k), k] },
                                      @entrytype),
                   include_blank: true

    %table.table
      %tr
        %th= LexFile.human_attribute_name(:error_message)
        %th= LexFile.human_attribute_name(:fname)
        %th= t(:title)
        %th= t(:status)
        %th= t(:entrytype)
        %th= t(:actions)
      - @lex_files.each do |lf|
        - lex_entry = lf.lex_entry
        %tr
          %td= lf.error_message
          %td= lf.fname.sub('.php', '').sub('/', '')
          %td= lf.lex_entry.title
          %td #{t(lf.status)} / #{lf&.lex_entry&.status}
          %td= LexFile.human_enum_name(:entrytype, lf.entrytype)
          %td
            - if lex_entry.lex_item.present? && !lex_entry.status_error?
              = link_to t(:show), lexicon_entry_path(lex_entry)
            - elsif lex_entry.lex_item.nil? || lex_entry.status_error?
              = link_to t('lexicon.files.migrate.title'), migrate_lexicon_file_path(lf), method: :post
  = paginate @lex_files
:javascript
  $(function() {
    const submitFilters = (e) => { $('#filter').submit(); };
    $('#entrytype').change(submitFilters);
  });
