.backend
  %h2= t(:featured_authors_management)

  %a{ href: new_admin_featured_author_path, style: 'color:white;padding-top:0.5rem;' }
    .btn{ style: 'float:none' }
      %b= t(:new_featured_author)
  %p
  %br
  %table{ style: 'cell-spacing: 10;' }
    %tr
      %th= t(:title)
      %th= t(:feature_on)
      %th= t(:linked_author)
      %th

    - @fcs.each do |v|
      %tr
        %td= link_to v.title, admin_featured_author_path(v)
        %td!= v.featured_list
        %td= v.person.nil? ? t(:none) : link_to(v.person.authority.name, authority_path(v.person.authority))
        %td
          = link_to t(:edit), admin_featured_author_path(v)
          = link_to t(:destroy), admin_featured_author_path(v), method: :delete, data: { confirm: t(:are_you_sure) }
  != paginate @fcs
