- unless pubs.nil?
  - pubs.each do |pub|
    - sid = (pub.source_id.class == Array ? pub.source_id[0] : pub.holdings[0].source_id)
    .pub-card{data: {title: pub.title, author: pub.author_line, publisher: pub.publisher_line, year: pub.pub_year, language: pub.language, notes: (pub.notes || ''), source: linkify_record(pub.context, sid), location: pub.holdings[0].location, scanned: (pub.scanned ? t(:yes) : t(:no)), scan_url: (pub.scanned ? pub.holdings[0].scan_url : '')}}
      .pub-header
        .pub-title= pub.title
        .pub-actions
          %button.btn.btn-sm.btn-danger.nuke{onclick: 'this.closest(".pub-card").remove()'}= t(:remove)
          %button.btn.btn-sm.btn-primary.moveit{onclick: 'moveit(this)'}= t(:add_publication)
          %button.btn.btn-sm.btn-secondary.addholding{onclick: 'addholding(this)'}= t(:add_holding)
      .pub-details
        .pub-field-row
          .pub-field
            %strong= t(:author) + ':'
            %span= pub.author_line
          .pub-field
            %strong= t(:publisher) + ':'
            %span= pub.publisher_line
        .pub-field-row
          .pub-field
            %strong= t(:year_published) + ':'
            %span= pub.pub_year
          .pub-field
            %strong= t(:language) + ':'
            %span= pub.language
          .pub-field
            %strong= t(:is_scanned) + ':'
            %span
              - if pub.scanned
                = link_to(t(:yes), pub.holdings[0].scan_url)
              - else
                = t(:no)
        .pub-field-row
          .pub-field
            %strong= t(:record_source) + ':'
            %span= linkify_record(pub.context, sid).html_safe
          .pub-field
            %strong= t(:location) + ':'
            %span= pub.holdings[0].location
        - if pub.notes.present?
          .pub-field-row
            .pub-field.pub-field-full
              %strong= t(:comments) + ':'
              %span= simple_format(pub.notes, {}, sanitize: true)

:javascript
  $(document).ready(function() {
    $('#total_pubs').text("#{t(:total)+': '+@total_pubs}");
  });
