.backend

  .container-fluid
    .row
      .col-md-6
        %h1= t(:bib_workshop)
        %p= t(:pubs_by_person_instructions_html)
      .col-md-6
        %h2= t(:some_authors_to_work_on)
        %p
          - Authority.has_toc.bib_not_done.order('RAND()').limit(20).map(&:name).each do |p|
            %span.copyme.pointer= p
            = '; '

    .row
      .col-md-6
        = render partial: 'find_bibs', locals: {remote: true}
        %h3#total_pubs= t(:total)
        #bibs.pubs-container
          = render partial: 'pubs', locals: {pubs: @pubs}
      .col-md-6
        .backend-field
          = label_tag t(:linked_author)
          = hidden_field_tag :authority_id
          = autocomplete_field_tag :authority, '', autocomplete_authority_name_and_aliases_path,
                                   id_element: '#authority_id', scopes: [:bib_not_done]
        = link_to t(:new_person), authors_new_path(type: :person)
        = link_to t(:new_corporate_body), authors_new_path(type: :corporate_body)
        .card
          .card-content
            %h2
              %a#author_link
                = t(:pubs_by_author)
            #pubs.pubs-container
    .row
      .col-md-12
        = link_to t(:back_to_bib_workshop), action: :index
:javascript
  function moveit(elem){
    var authority_id = $('#authority_id').val();
    if (authority_id == null || authority_id == "") {
      alert("#{t(:select_person_first)}");
    } else {
      var card = $(elem).closest('.pub-card');
      var data = card.data();
      var status = (data.scanned == "#{t(:yes)}" ? "scanned" : "todo");
      elem.disabled = true;

      // Extract source_id from the source link
      var sourceLink = card.find('.pub-field:contains("#{t(:record_source)}") a');
      var source_id = sourceLink.length > 0 ? sourceLink.attr('href') : '';

      $.ajax({
          type: "POST",
          url: "#{publications_path}",
          data: { publication: {
            title: data.title,
            author_line: data.author,
            publisher_line: data.publisher,
            pub_year: data.year,
            language: data.language,
            notes: data.notes,
            bib_source: sourceLink.text(),
            source_id: source_id,
            callnum: data.location,
            authority_id: authority_id,
            status: status
          }},
          dataType: "script"
        }).done(function(xhr, status) {
          if(status == "success") {
            card.remove();
          } else {
            alert('error');
            elem.disabled = false;
          }
        });
    }
  };
  function addholding(elem){
    var sels = $('.publine.pub_selected');
    if (sels.size() == 0) {
      alert("#{t(:select_publication_first)}");
    } else {
      // gather data
      var pub_row = $(sels)[0]; // target
      var card = $(elem).closest('.pub-card');
      var data = card.data();
      elem.disabled = true;
      var status = "todo";
      var scan_url = null;

      // Extract source_id from the source link
      var sourceLink = card.find('.pub-field:contains("#{t(:record_source)}") a');
      var source_id = sourceLink.length > 0 ? sourceLink.attr('href') : '';

      if(data.scanned == "#{t(:yes)}") {
        status = "scanned";
        scan_url = data.scanUrl;
      }

      // submit holding entity
      $.ajax({
        type: "POST",
        url: "#{holdings_path}",
        data: {
          source_name: sourceLink.text(),
          holding: {
            publication_id: pub_row.id.replace('pub',''),
            source_id: source_id,
            status: status,
            scan_url: scan_url
          }
        },
        dataType: "script"
      }).done(function(xhr, status) {
        if(status == "success") {
          card.remove();
          $(sels[0]+" ol").append(new_holding);
        } else {
          alert('error');
          elem.disabled = false;
        }
      });
    }
  };
  function load_pubs(pid) {
      var url = "#{bib_authority_path({ authority_id: 999 })}".replace("999", pid);
      $('#author_link').attr('href', url);
      $.ajax({
        url: url,
        dataType: "script"
      });
  };

  $(document).ready(function() {
    var pid = "#{@authority_id}";
    if(pid != "") {
      load_pubs(pid);
      $('#authority').val("#{@authority_id.blank? ? '' : @authority.name}");
    }
    $('#authority').bind('railsAutocomplete.select', function(event, data){
      load_pubs(data.item.id)
    });
    $('.copyme').click(function(e){
      // gather data
      var text = e.target.textContent;
      // paste into textarea
      var textArea = document.createElement("textarea");
      textArea.value = text;
      document.body.appendChild(textArea);
      // copy to clipboard
      textArea.select();
      document.execCommand("Copy");
      textArea.remove();
    });
    $(document).on('click', '.publine', function(){
      var sels = $('.publine.pub_selected');
      if(sels.size() > 0) {
        $(sels[0]).removeClass('pub_selected');
      }
      $(this).addClass('pub_selected');
    });

    $('#authority').on('railsAutocomplete.select', function() { $('#authority_name').val($(this).val());});
  });
