-# Browse tags
.row
  .col-sm-12.col-md-8.offset-md-2
    .by-card-v02#tags_list
      .by-card-header-v02
        .headline-2-v02
          = t(:tags_list)
          %span.text-muted{style: 'font-size: 80%; margin-right: 10px;'}
            = "(#{@total})"
      .by-card-content-v02
        .select-all-with-buttons
          .headline-4-v02= t(:sort_by)
          #sort-by
            #custom-select
              %select#sort_by_select
                %option{ value: 'alphabetical', selected: @sort == 'alphabetical' }= t(:alphabetical)
                %option{ value: 'popularity', selected: @sort == 'popularity' }= t(:by_popularity)
        .mainlist#tags_mainlist
          %ol
            - @tags.each do |tag|
              %li
                = link_to tag.name, tag_path(tag.id)
                %span.text-muted{style: 'font-size: 80%'}
                  = "(#{tag.approved_taggings_count})"

:javascript
  $(document).ready(function() {
    $('#sort_by_select').change(function(){
      const sortBy = $('#sort_by_select option:selected').val();
      const url = new URL(window.location);
      url.searchParams.set('sort_by', sortBy);
      window.location = url.toString();
    });
  });
