%h1= t('lexicon.verification.queue.title')

.filters.mb-3
  = form_tag lexicon_verification_queue_path, method: :get, class: 'form-inline' do
    .form-group.me-2
      = label_tag :status, t('lexicon.verification.queue.columns.status'), class: 'me-1'
      - status_options = [[t('lexicon.verification.queue.filters.all'), ''], [t('lexicon.verification.queue.filters.draft'), 'draft'], [t('lexicon.verification.queue.filters.verifying'), 'verifying'], [t('lexicon.verification.queue.filters.error'), 'error'], [t('lexicon.verification.queue.filters.escalated'), 'escalated']]
      = select_tag :status, options_for_select(status_options, params[:status]), class: 'form-control'

    .form-group.me-2
      = label_tag :type, t('lexicon.verification.queue.columns.type'), class: 'me-1'
      - type_options = [[t('lexicon.verification.queue.filters.all'), ''], [t('lexicon.verification.queue.filters.person'), 'LexPerson'], [t('lexicon.verification.queue.filters.publication'), 'LexPublication']]
      = select_tag :type, options_for_select(type_options, params[:type]), class: 'form-control'

    = submit_tag t('lexicon.entries.index.filter'), class: 'btn btn-sm btn-primary'

- if @my_locked_entries.any?
  %h3= t('lexicon.verification.queue.my_locked_title')
  = render partial: 'queue_table', locals: { entries: @my_locked_entries }

- if @locked_by_others_entries.any?
  %h3= t('lexicon.verification.queue.locked_by_others_title')
  = render partial: 'queue_table', locals: { entries: @locked_by_others_entries }

%h3= t('lexicon.verification.queue.other_title')
= render partial: 'queue_table', locals: { entries: @entries }

= paginate @entries

-# Auto-refresh the queue so async migrations completing elsewhere become visible without a manual reload.
:javascript
  setTimeout(function () { window.location.reload(); }, 60000);
