%h1= t('lexicon.verification.queue.title')

.filters.mb-3
  = form_tag lexicon_verification_queue_path, method: :get, class: 'form-inline' do
    = hidden_field_tag :sort, @sort if @sort.present?
    = hidden_field_tag :direction, @direction if @direction.present?
    .form-group.me-2
      = label_tag :status, t('lexicon.verification.queue.columns.status'), class: 'me-1'
      - q = 'lexicon.verification.queue.filters'
      - status_options = [[t("#{q}.all"), ''], [t("#{q}.draft"), 'draft'],
                          [t("#{q}.verifying"), 'verifying'], [t("#{q}.error"), 'error'],
                          [t("#{q}.escalated"), 'escalated']]
      = select_tag :status, options_for_select(status_options, params[:status]), class: 'form-control'

    .form-group.me-2
      = label_tag :type, t('lexicon.verification.queue.columns.type'), class: 'me-1'
      - type_options = [[t("#{q}.all"), ''], [t("#{q}.person"), 'LexPerson'],
                        [t("#{q}.publication"), 'LexPublication']]
      = select_tag :type, options_for_select(type_options, params[:type]), class: 'form-control'

    .form-group.me-2
      = label_tag :max_items, t("#{q}.max_items_label"), class: 'me-1'
      - max_items_opts = { min: 0, placeholder: t("#{q}.max_items_placeholder"),
                           class: 'form-control', style: 'width: 80px' }
      = number_field_tag :max_items, @max_items, max_items_opts

    = submit_tag t('lexicon.entries.index.filter'), class: 'btn btn-sm btn-primary'

- if @my_locked_entries.any?
  %h3= t('lexicon.verification.queue.my_locked_title')
  = render partial: 'queue_table', locals: { entries: @my_locked_entries }

- if @locked_by_others_entries.any?
  %h3= t('lexicon.verification.queue.locked_by_others_title')
  = render partial: 'queue_table', locals: { entries: @locked_by_others_entries }

%h3= t('lexicon.verification.queue.other_title')
= render partial: 'queue_table', locals: { entries: @entries, sortable: true }

= paginate @entries

-# Auto-refresh the queue so async migrations completing elsewhere become visible without a manual reload.
:javascript
  setTimeout(function () { window.location.reload(); }, 60000);
